# {{ ansible_managed }}

{{ alpine_repo_mirror }}/{{ alpine_version }}/main
{{ alpine_repo_mirror }}/{{ alpine_version }}/community
#{{ alpine_repo_mirror }}/edge/main
#{{ alpine_repo_mirror }}/edge/community
#{{ alpine_repo_mirror }}/edge/testing
